main{
  background-color: #ccccff;
  /* height: 1800px; */
  display: grid;
  /* grid-gap: 10px; */
  /* grid-template-rows: repeat(5,1fr); */
}
#addclass-mask{
    width:45%;
}
ul{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto auto;
  border-bottom: thin solid dimgray;
  gap: 1rem;
  padding: 1rem;
  font-size: smaller;
}
li{
  text-align: left;
}

.name {
  color: rebeccapurple;
}

img{
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 100px;

}
.avatar{
  grid-row: 1/4;
}
.addcontent{
  height: 200px;
  width: 40%;
}
