body{
    background: #e6e6fa;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:repeat(5,1fr) ;
  gap: 0.7rem;
  background-color: #e6e6fa;
  align-items: center;
  justify-items: center;
  height: 80vh;
  font-weight:bold;
  margin: 0px;
  width: 100%;
}

.cover {
  grid-column: 1 / 4;
}

figure {

  margin: auto;
  width: 60%;
  border-radius: 5px;
  background: #ccccff;
  color: #111144;
  padding: 5px;
}
figcaption {
  text-align: center;
  padding: .8rem;
}

footer {
    background-color: #9F88FF;
}
